<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquiry form</title>
</head>
<body>
<p> We are welcome to your honest opinions to serve much better </p>

<h3>Enquiry form</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="flash">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form
    action=" {{ url_for('form_complete') }}"
    method="POST"
    novalidate="novalidate"
>
    <table>
        <tr>
            <td>user name</td>
            <td>
                <input
                        type = "text"
                        name = "username"
                        placeholder="username"
                />
            </td>
        </tr>
        <tr>
            <td>email address</td>>
            <td>
                <input
                        type="text"
                        name="email"
                        placeholder="email address"
                />
            </td>
        </tr>
        <tr>
            <td>details of enquiry</td>
            <td>
                <textarea
                        name="description"
                        rows="4"
                        cols="50"
                        placeholder="details of enquiry">
                </textarea>
            </td>
        </tr>
    </table>
    <input
            type="submit" value="submit"
    />
</form>

</body>
</html>